{% extends 'base.html'%}
{% block title %} acceuil {% endblock %}

{% block content %}
<div class=" w-full justify-center items-center flex mt-20 flex">
    <p class="[-webkit-text-stroke:1px_rgba(255,255,255,1)] text-8xl tracking-wider font-bold text-[#0E441E]">UQAC</p>
    <p class="[-webkit-text-stroke:1px_rgba(255,255,255,1)] text-8xl tracking-wider font-bold">-RACING</p>
</div>
<div>
    <p class="text-center text-l mt-10 text-white font-bold">L'équipe la plus nordique de la formule SAE !</p>
</div>
{% endblock %}